body, html {
    font-family: 'Orbitron', sans-serif; /* A futuristic font */
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #121212;
    color: #cfcfcf;
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    text-align: center;
    padding: 4em 0;
    background: rgba(0,0,0,0.8);
    border-bottom: 3px solid #8a2be2;
}

h1 {
    font-size: 3em;
    color: #ff00ff;
    margin-bottom: 0.5em;
}

p {
    font-size: 1.2em;
}

section {
    padding: 4em 0;
    text-align: center;
}

.services-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-card {
    width: 200px;
    margin: 20px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid #8a2be2;
    border-radius: 10px;
    transition: all 0.3s;
}

.service-card:hover {
    background-color: rgba(10, 10, 10, 0.9);
    transform: translateY(-10px);
    box-shadow: 0 0 15px #8a2be2;
}

.service-icon {
    font-size: 3em;
    margin-bottom: 1em;
    color: #8a2be2;
}

a {
    color: #8a2be2;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #ff00ff;
}

footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: #cfcfcf;
    text-align: center;
    padding: 2em 0;
    border-top: 3px solid #8a2be2;
}
